body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .weather-app {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .weather-app h1 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  .weather-app input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: calc(100% - 26px);
    box-sizing: border-box;
  }
  
  .weather-app button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 10px;
  }
  
  .weather-app button:hover {
    background-color: #0056b3;
  }
  
  .weather-app .weather-info {
    margin-top: 25px;
  }
  
  .weather-app .weather-info h1,
  .weather-app .weather-info h3,
  .weather-app .weather-info p {
    margin: 15px 0;
    font-size: 18px;
  }
  
  .weather-app .weather-info img {
    width: 100px;
    height: 100px;
  }
  
  @media (max-width: 600px) {
    .weather-app {
      padding: 20px;
    }
  
    .weather-app h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .weather-app input {
      width: 100%;
      margin-left: 0;
    }
  
    .weather-app button {
        width: 32%;
      margin-bottom: 20px;
    }
  
    .weather-app .weather-info h1,
    .weather-app .weather-info h3,
    .weather-app .weather-info p {
      font-size: 16px;
    }
  
    .weather-app .weather-info img {
      width: 80px;
      height: 80px;
    }
  }
  